@page "/"

<PageTitle>blu Systems Admin</PageTitle>

<h1>blu Systems Shortner Admin</h1>
<div>
    <p>
   Welcome to the Admin tools for Azure Url Shortener
    </p>

    <div style="align-content: right;"><img class="mainLogo" src="/images/TinyBlazorAdmin.png" /></div>
</div>
